ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*====================HEADER==============*/
.page-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.adress-content {
  display: flex;
  gap: 40px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo .accent {
  color: #2e2f42;
}
.menu-link {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.studio-link {
  position: relative;
  color: #404bbf;
}
.studio-link::after {
  content: "";
  display: flex;
  width: 48px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--OCEAN, #404bbf);
  border-radius: 2px;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.menu-content {
  font-style: normal;
}
.address-link {
  display: block;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*================SECTION1============*/

.main-page {
  background-color: #2e2f42;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}
.button {
  display: block;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/*===============SECTION BENEFITS============*/
.benefits {
  padding: 120px 0 120px;
}

.benefits-container {
  display: flex;
  gap: 24px;
}
.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.images,
.portfolio-pic {
  background-color: #fff;
}
.list-benefits {
  width: calc((100%-72px) / 4);
  background-color: #fff;
}
.groupe-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  fill: #2e2f42;
}
/*===============SECTION OUR TEAM==========*/
.content {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}
.content-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.team-images {
  display: flex;
  gap: 24px;
}
.images {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-group {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
  text-align: center;
}
.group-sotial-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sotial-link {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotial-link:hover,
.sotial-link:focus {
  background-color: #404bbf;
}
.sotial-icons {
  width: 40px;
  height: 40px;
}
.paragraf {
  margin-top: 8px;
}

/*=================SECTION PORTFOLIO=========*/
.headline {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 24px;
  row-gap: 48px;
}

.text-portfolio {
  background-color: var #fff;
  gap: 8px;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio-pic {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pic:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.holder {
  padding-top: 120px;
  padding-bottom: 120px;
}
.picture-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pic:hover .overlay {
  transform: translateY(0%);
}
/*===================FOOTER===============*/
.footer-box {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.slogan {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  align-items: flex-start;
}
.footer-logo .accent {
  color: #f4f4fd;
}
.logo-block {
  margin-right: 120px;
}

.footer-icons {
  display: flex;
  align-items: baseline;
}

.footer-media {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-sotial {
  gap: 16px;
}
.ill {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ill:hover,
.ill:focus {
  background-color: #31d0aa;
}
